$colors: (
    primary: #078eff,
    accent: #fff,
);

@function color($colors-name) {
    @return map-get($color, $color-name )
};


body {
    #flex-child {
        height: 30vh;
        width: 100%;
        background-color: color(pirmary);
        margin: 20px;
        display: flex;

    }

    #flex-child1 {
        height: 60vh;
    }
}