@import "./header";
@import "./fonts";
@import "./colors";

@function color($colors-name) {
  @return map-get($color, $color-name);
}

body {
  background: url(http://bestanimations.com/Nature/Water/wave-ocean-animated-gif-8.gif);
  background-size: cover;
}

.Flex-Child {
  display: flex;
  font-size: 2.5em;
  text-transform: uppercase;
  color: honeydew;
  text-align: center;
  font: italic 7rem "Fira Sans", serif;
  border: 0.9rem solid;
  border-color: color(border);
  background: linear-gradient(rgb(10, 12, 17), rgb(22, 236, 208));
  width: 100%;
  z-index: -1;
}

.Flex-Two {
  display: flex;
  justify-content: center;
}
