$colors: (
  primary: #078eff,
  accent: #fff
);

@function color($colors-name) {
  @return map-get($color, $color-name);
}

body {
  #flex-child {
    display: flex;
    font-size: 2.5em;
    text-transform: uppercase;
    color: honeydew;
    text-align: center;
    font: italic 7rem "Fira Sans", serif;
    border: 0.9rem solid;
    border-color: color(primary);
    background-color: color(primary);
    background: linear-gradient color(primary), color(accent);
    width: 100%;
    z-index: -1;
  }

  #flex-text {
    display: flex;
    flex-wrap: wrap;
  }
}
